@model Slider

@{
    ViewData["Title"] = "Detail";
}

<div>
    <h4>Detail Slider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <img width="400" src="~/assets/img/slider/@Model.Image" alt="Alternate Text" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="update" asp-route-id="@Model.Id">update</a> |
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>
